<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Prestige Worldwide</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user-list">Back to list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addapp">Add to waitlist</a>
      </li>
    </ul>
  </div>
</nav>

<h1>Add a review for the following app</h1>

<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>
      Name
    </th>
    <th>
      Category
    </th>
    <th>
      Price
    </th>
    <th>
      Description
    </th>
    <th>
      Reviews
    </th>
  </tr>
  {{#each rows}}
  <tr>
    <td> {{name}}</td>
    <td>{{ category }}</td>
    <td>{{ price }}</td>
    <td>{{ description}} </td>
    <td id = "reviews">{{ reviews}} </td>
  </tr>
  {{/each}}
</table>
{{#each rows}}
<form method="post" action = "/addreview/{{id}}">
    <div class="form-group">
      <label for="newreview">Add review here</label>
      <input class="form-control" id="newreview" name="newreview" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  {{/each}}