<h1>Add a review for the following app</h1>
<div><a href="/users/logout">Logout</a></div>
<a href = "/user-list">Back to list</a>
<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>
      Name
    </th>
    <th>
      Category
    </th>
    <th>
      Price
    </th>
    <th>
      Description
    </th>
    <th>
      Reviews
    </th>
  </tr>
  {{#each rows}}
  <tr>
    <td> {{name}}</td>
    <td>{{ category }}</td>
    <td>{{ price }}</td>
    <td>{{ description}} </td>
    <td>{{ reviews}} </td>
  </tr>
  {{/each}}
</table>

<form method="post" action = "addreview/{{id}}">
    <div class="form-group">
      <label for="review">Add review here</label>
      <input class="form-control" id="username" name="username" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>