<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Prestige Worldwide</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin-list">Back to list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/view-wait-list">View the waitlist</a>
      </li>
    </ul>
  </div>
</nav>

<h1>appFinder</h1>


<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>
      Icon
    </th>
    <th>
      <a href="/admin-list?sort=name">Name</a><br />
      <form>
        <p>Enter any part of name</p>
        <input name="name" />
      </form>
    </th>
    <th>
      <a href="/admin-list?sort=category">Category</a><br />
      <form>
        <p>Enter any part of category</p>
        <input name="category" />
      </form>
    </th>
    <th>
      <a href="/admin-list?sort=price">Price</a><br />
      <form>
        <p>Enter maximum price</p>
        <input name="price" />
      </form>
    </th>
  </tr>
  {{#each rows}}
  <tr>
    <td>
      {{#if picture}}
        <img src = "/images/{{picture}}" width = "60" height = "60" style = "border-radius: 15px;">
        {{else}}
        No icon available yet
      {{/if}}
    </td>
    <td><a class = "btn btn-primary" href = '/app-view/{{id}}'>{{name}}</a></td>
    <td>{{ category }}</td>
    <td>{{ price }}</td>
    <td><a class = "btn btn-primary" href = '/edit-app/{{id}}'>Edit app</a></td>
  </tr>
  {{/each}}
</table>