<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Prestige Worldwide</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
        </li>
    </ul>
  </div>
</nav>

<h1>appFinder</h1>

<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>
      Icon
    </th>
    <th>
      Name
    </th>
    <th>
      Category
    </th>
    <th>
      Price
    </th>
    <th>
      Description
    </th>
    <th>
      Version
    </th>
    <th>
      Publisher
    </th>
    <th>
      Link
    </th>
    <th>
      Reviews
    </th>
  </tr>
  {{#each rows}}
  <tr>
    <td>
      {{#if picture}}
        <img src = "/images/{{picture}}" width = "60" height = "60" style = "border-radius: 15px;">
        {{else}}
        No icon available yet
      {{/if}}
    </td>
    <td> {{name}}</td>
    <td>{{ category }}</td>
    <td>{{ price }}</td>
    <td>{{ description}} </td>
    <td>{{ version}} </td>
    <td>{{ publisher}} </td>
    <td><a href = "{{ link}}">{{link}}</a> </td>
    <td>{{ reviews }} </td>
  </tr>
  {{/each}}
</table>
<br>
