<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Prestige Worldwide</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/user-list">Back to list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addapp">Add to waitlist</a>
      </li>
    </ul>
  </div>
</nav>

<h1>appFinder</h1>
<a class = "btn btn-primary" href = '/addapp'>Submit an app to the wait list</a>
<p>Our admins will review it, and if accepted it will be added to the database. </p>
<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>
      <a href="/user-list?sort=name">Name</a><br />
      <form>
        <p>Search</p>
        <p>Enter any part of name</p>
        <input name="name" />
      </form>
    </th>
    <th>
      <a href="/user-list?sort=category">Category</a><br />
      <form>
        <p>Search</p>  
        <p>Enter any part of category</p>
        <input name="Category" />
      </form>
    </th>
    <th>
      <a href="/user-list?sort=price">Price</a><br />
      <form>
        <p>Filter</p>  
        <p>Enter maximum price</p>
        <input name="price" />
      </form>
    </th>
  </tr>
  {{#each rows}}
  <tr>
    <td><a class = "btn btn-primary" href = '/app-view/{{id}}'>{{name}}</a></td>
    <td>{{ category }}</td>
    <td>{{ price }}</td>
    <td><a class = "btn btn-primary" href = '/add-review/{{id}}'>Add review</a></td>
  </tr>
  {{/each}}
</table>
