<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <p>Prestige Worldwide</p>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/users/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin-list">Back to list</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/view-wait-list">View the waitlist</a>
      </li>
    </ul>
  </div>
</nav>

<h1>Waitlist</h1>
<h2>Try confirming an app! Then try denying an app!</h2>

<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>
      Name
    </th>
    <th>
      Category
    </th>
    <th>
      Price
    </th>
    <th>
      Description
    </th>
    <th>
      Version
    </th>
    <th>
      Publisher
    </th>
    <th>
      Link
    </th>

  </tr>
  {{#each rows}}
  <tr>
    <td id = "name"> {{name}}</td>
    <td id = "category">{{ category }}</td>
    <td id = "price">{{ price }}</td>
    <td id = "description">{{ description}} </td>
    <td id = "version">{{ version}} </td>
    <td id = "publisher">{{ publisher}} </td>
    <td id = "link">{{ link}} </td>
    <td><a class = "btn btn-primary" href = 'confirm/{{id}}'>Confirm</a></td>
    <td><a class = "btn btn-primary" href = 'deny/{{id}}'>Deny</a></td>
  </tr>
  {{/each}}
</table>