<h1>Waitlist</h1>
<div><a href="/users/logout">Logout</a></div>
<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>
      Name
    </th>
    <th>
      Category
    </th>
    <th>
      Price
    </th>
    <th>
      Description
    </th>
    <th>
      Version
    </th>
    <th>
      Publisher
    </th>
    <th>
      Link
    </th>

  </tr>
  {{#each rows}}
  <tr>
    <td> {{name}}</td>
    <td>{{ category }}</td>
    <td>{{ price }}</td>
    <td>{{ description}} </td>
    <td>{{ version}} </td>
    <td>{{ publisher}} </td>
    <td>{{ link}} </td>
    <td><a class = "btn btn-primary" href = 'confirm/{{id}}'>Confirm</a></td>
    <td><a class = "btn btn-primary" href = 'deny/{{id}}'>Deny</a></td>
  </tr>
  {{/each}}
</table>